@page "/bind-after"
@rendermode InteractiveServer

<h3>Exemplo de <code>@(@"bind:after")</code></h3>

<p>
    Digite algo:
    <input @bind="Nome" @bind:after="AoAtualizarNome" />
</p>

<p style="font-size: 30px; color: blue">Nome digitado: @Nome</p>

@code {
    private string Nome { get; set; } = "";

    private void AoAtualizarNome()
    {
        Console.WriteLine($"O valor do Nome foi atualizado para: {Nome}");
    }
}
