@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Data Binding</h1>

<div style="font-size:  1.3rem; line-height: 1.2; text-align: justify; color: black;">
    O Databinding no Blazor é o recurso que conecta a interface do usuário (UI) ao código do componente, 
    permitindo que valores sejam exibidos (one-way) ou sincronizados automaticamente em ambas as direções (two-way).
</div>