<h4>Filho com 2 parâmetros</h4>

@if (ItemId <= 0 || string.IsNullOrEmpty(Name))
{
    <p style="color: red;font: 30px">❌ Dados inválidos!</p>
    <p style="font-size: 30px">ID: @ItemId, Nome: '@Name'</p>
}
else
{
    <p style="color: green;font-size: 30px">✅ Dados válidos!</p>
    <p style="font-size: 30px">ID: @ItemId, Nome: '@Name'</p>
}

@code {
    [Parameter]
    public int ItemId { get; set; }

    [Parameter]
    public string? Name { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        Console.WriteLine("SetParametersAsync chamado!");
        parameters.SetParameterProperties(this);
        Console.WriteLine($"ItemId: {ItemId}, Name: {Name}");
        await base.SetParametersAsync(ParameterView.Empty);
        Console.WriteLine("Processamento completo!");
    }
}
