@page "/alert"
@rendermode InteractiveServer

<h3>Alerta</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Componente renderizado!");
        }
    }
}
