@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<Panel>
    <Warning><Content1>Lista de Tarefas</Content1></Warning>
    <ListTaskComponent ListTasks="tasks" OnRemoveTask="RemoveTask" />
</Panel>

@if (tasks != null)
{
    <Panel>
        <label>Tarefa</label>
        <input type="text" placeholder="Informe a tarefa" @bind="newTask" />
        <button class="btn btn-primary" @onclick="AddNewTask">RegisterTask</button>
    </Panel>
}

@code {
    List<TaskComponent> tasks = new List<TaskComponent>();

    protected override async Task OnInitializedAsync()
    {
        // obtem a url base
        var url = navManager.BaseUri + "Data/Tasks.json";
        var result = await http.GetFromJsonAsync<List<TaskComponent>>(url);
        tasks = result ?? new List<TaskComponent>();
    }

    private string newTask = "";

    void AddNewTask()
    {
        if (!string.IsNullOrWhiteSpace(newTask))
        {
            tasks.Add(new TaskComponent
            {
                DateCreated = DateTime.Now,
                Description = newTask,
                ID = Guid.NewGuid()
            });
            newTask = "";
        }
    }

    private void RemoveTask(Guid id)
    {
        tasks.Remove(tasks.First(x => x.ID == id));
    }
}