@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Scaffolding</h1>

<hr />

<p>
    <strong>Blazor Scaffolding</strong> é o processo de geração automática de código (páginas, componentes e lógica básica) a partir de modelos e
    contexto de dados. 
    <br />
    Nesse projeto foi usado o Entity Framework Core e SqlServer.
    <br />
    Tem como objetivo acelerar o desenvolvimento, criando rapidamente telas de CRUD.
</p>

<p>
    Requisitos:
    <ul>
        <li>Projeto Blazor (Server ou WASM)</li>
        <li>Entity Framework Core configurado</li>
        <li>DbContext válido</li>
    </ul>
</p>

<hr />

<p>
    <strong>Blazor Scaffolding</strong> is the process of automatically generating code (pages, components and basic logic) from data models and a data context.
    <br />
    In this project, Entity Framework Core and SQL Server were used.
    <br />
    Its goal is to speed up development by quickly creating CRUD screens.
</p>

<p>
    Requirements:
    <ul>
        <li>Blazor Project (Server ou WASM)</li>
        <li>Entity Framework Core configured</li>
        <li>Valid DbContext</li>
    </ul>
</p>