@page "/contacts/details"
@using Microsoft.EntityFrameworkCore
@using BlazorSqlServerDev.Data
@inject ApplicationDbContext Db
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Detalhes do contato @contact?.Name</h1>

<div>
    <hr />
    @if (contact is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@contact.Name</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@contact.Email</dd>
        </dl>
        <div>
            <a href="@($"/contacts/edit?id={contact.Id}")">Editar</a> |
            <a href="@($"/contacts")">Voltar para a lista de contatos</a>
        </div>
    }
</div>

@code {
    private Contact? contact;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        contact = await Db.Contacts.FirstOrDefaultAsync(m => m.Id == Id);

        if (contact is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
