@page "/contacts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorSqlServerDev.Data
@inject ApplicationDbContext Db

<PageTitle>Contacts</PageTitle>

<h1>Contatos</h1>

<p>
    <a href="contacts/create" style="color:white">Criar Novo</a>
</p>

<QuickGrid Class="table" Items="contacts">
    <PropertyColumn Property="contact => contact.Name" Title="Nome" />
    <PropertyColumn Property="contact => contact.Email" Title="Email" />

    <TemplateColumn Context="contact">
        <a href="@($"contacts/edit?id={contact.Id}")">Editar</a> |
        <a href="@($"contacts/details?id={contact.Id}")">Detalhes</a> |
        <a href="@($"contacts/delete?id={contact.Id}")">Deletar</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IQueryable<Contact> contacts = default!;

    protected override void OnInitialized()
    {
        contacts = Db.Contacts.AsNoTracking();
    }
}
