<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tasks</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo-events">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Eventos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generic-list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="style-cascading">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estilo
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dynamic-cascade-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dinamico
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cascate-user-dad">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Usuário Pai
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="componente-pai">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SetParametersAsync
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="news">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> OnInitializedAsync
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile/Visitante">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> OnParametersSetsync
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="intelligent-counter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ShouldRender
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alert">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> OnAfterRenderAsync
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cronometro">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dispose
            </NavLink>
        </div>
    </nav>
</div>

