@page "/edit-book/{id:int}"
@inherits AppComponentBase

<PageTitle>Editar Livro</PageTitle>

<div>
    <div>
        <BookForm EditMode="true" Id="@Id" OnValidBookSubmit="OnEditBook" />
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    // [supplyparameterfromform(formname="editbookform")]
    // public Book? Book { get; set; }

    /* 
     * protected override async Task OnInitializedAsync()
     * {
     *    Book ??= await bookRepository.GetBook(Id);
     * }
     */

    private async Task OnEditBook(Book book)
    {
        await bookRepository.UpdateBook(book);
        navigationManager.NavigateTo("/books");
    }
}
