@inherits LayoutComponentBase

<div class="container-fluid">

    <header class="bg-dark text-white text-center p-3 mb-4">
        <h1>My Simplified Layout</h1>
        <p>This layout is used for specific pages</p>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="text-center text-muted mt-5">
        <p>&copy; @DateTime.Now.Year - Blazor Course</p>
    </footer>

</div>
